.sliderImg {
    width: auto;
    height: 421px;
    object-fit: contain;
}
.slick-prev:before,
.slick-next:before {
    font-size: 38px !important;
}
.slick-next {
    right: 25px !important;
}
.slider{
    margin-top: 100px;
}